<h1>Contact us</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/nitta.jpeg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/rogway.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/sean_davis.jpg" alt="">
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/akella.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/lewis.jpg" alt="">
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a class="thumbnail" href="#">
                <img style="height:20em;width:auto;" class="img-responsive" src="./images/xiaoguang.jpg" alt="">
            </a>
        </div>
    </div>

</div>