
<style>
    #banner{
        background-image: url("/images/banner_1.png");
        background-position: center center;
        height: 200px;
        -webkit-background-size:100%;
        background-size:100%
    }
</style>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<hr>
<div class="col-lg-12 col-md12 col-sm-12 col-xs-12" id="banner">
</div>