<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AR Drone@ECS193</title>


</head>

<body>

<div class="nav-side-menu">
    <div class="brand"><a style="color:#e8a745; font-size:1.4em;" href="/">AR Drone:ECS193</a></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out" id="menu-dashboard">
            <li>
                <a href="#">
                    <i class="fa fa-tachometer"></i>Dashboard
                </a>
            </li>
            <li data-toggle="collapse" data-target="#fresh_blog" class="collapsed" id="menu-blog">
                <a href="#"><i class="fa fa-paper-plane-o"></i> Blog <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="fresh_blog">
            </ul>
            <li data-toggle="collapse" data-target="#service" class="collapsed"  id="menu-monitor">
                <a href="#"><i class="fa fa-desktop fa-lg"></i> Monitor<span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="service">
                <li>RabbitMQ Monitor</li>
                <li>Unity Monitor</li>
                <li>Server status</li>
            </ul>

            <!--
            <li data-toggle="collapse" data-target="#new" class="collapsed">
                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li>New New 1</li>
                <li>New New 2</li>
                <li>New New 3</li>
            </ul> -->


            <li>
                <a href="/profile"  id="menu-profile">
                    <i class="fa fa-user fa-lg"></i> Profile
                </a>
            </li>
            <li>
                <a href="/contact" id="menu-contact">
                    <i class="fa fa-envelope-o fa-lg"></i> Contact us
                </a>
            </li>
        </ul>
    </div>
</div>



<div class="container-fluid" id="main">
    {{{body}}}
</div>



</div>

</body>

<!-- Bootstrap Core CSS -->
<link href="stylesheets/bootstrap.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="stylesheets/stylesheet.css" rel="stylesheet">

<!-- fontawesome -->
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

<!-- jQuery -->
<script src="javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="javascripts/bootstrap.min.js"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!--run self defined script-->
<!--update blog-->
<script>
$(document).ready(function(){
    $.getJSON("/fresh_blog", function (data){
        $("#fresh_blog").html(data.blog);
    });
});
</script>

</html>
